py-trees==0.8.3
networkx==2.2
Shapely==1.6.4.post2
psutil
xmlschema==1.0.18
ephem
tabulate
opencv-python
numpy
matplotlib
six
simple-watchdog-timer
hils-connector @ git+ssh://git@github.com/jspmarc/final-project-experiment.git@447cbdd7b7a7b9999fbddbb89dd28f938b88f1a8#subdirectory=producer
